/* You can add global styles to this file, and also import other style files */
form{
    font-size: medium;
    font-family:sans-serif;
}
.active-link{
    background-color:indianred;
}
.active{
    background-color: aquamarine;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
